@if (questionData !== undefined) {
    <mat-card
        *ngIf="questionIndex !== undefined && questionIndex === currentIndex"
        class="question__card">
        <mat-card-header class="question__card--title">
            <mat-card-title
                >{{ questionIndex + 1 }}.
                {{ questionData.question }}</mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <mat-radio-group class="question__card--content">
                <ng-container
                    *ngFor="let answer of questionData.answers; let i = index">
                    <mat-radio-button
                        [value]="answer"
                        [checked]="i === questionData.answerIndex"
                        (change)="handleChooseAnswer(questionData.id, i)"
                        >{{ answer }}</mat-radio-button
                    >
                </ng-container>
            </mat-radio-group>
            <mat-card-actions align="end">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="onClickPrevQuestion()">
                    Poprzednie
                </button>
                &nbsp;
                <button
                    mat-raised-button
                    color="primary"
                    (click)="onClickNextQuestion()">
                    Następne
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
}
