<mat-card class="question__card">
    <mat-card-header class="question__card--title">
        <mat-card-title>{{ data?.question }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-radio-group
            class="question__card--content"
            [(ngModel)]="youtAnswer">
            @for (answer of data?.answers; track answer) {
                <mat-radio-button [value]="answer">{{
                    answer
                }}</mat-radio-button>
            }
        </mat-radio-group>
        <br />
        <div>Twoja odpowiedź: {{ youtAnswer }}</div>
    </mat-card-content>
</mat-card>
