<section class="home__page">
    <div class="container">
        <h2 class="home__page--title">Quiz description</h2>
        <div class="home__page--buttons">
            <button
                mat-raised-button
                color="primary"
                (click)="handleStartQuiz(5)">
                Quick Quiz (5 questions)
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="handleStartQuiz(10)">
                Start Quiz (10 questions)
            </button>
        </div>
    </div>
</section>
