<section class="home__page">
    <div class="container">
        <h2 class="page__title">Magiczny Quiz</h2>
        <div class="home__page--buttons">
            <button
                mat-raised-button
                color="primary"
                (click)="handleStartQuiz(5)">
                Szybka gra (5 pytań)
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="handleStartQuiz(10)">
                Normalna gra (10 pytań)
            </button>
        </div>
    </div>
</section>
